.item {
    display: flex;
    flex-direction: row;
}

.item img {
    margin: 1rem;
    width: 14rem;
    height: 18rem;
}
.item .item-detail {
    margin: 1rem 2rem;
}
.item h2 {    
    font-size: 2rem;
    font-weight: bold;
}
.item a {
    display: none;
}

.item-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1rem;
    width: 20rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: 0.375rem;
}

.item-list img {
    width: 6rem;
    height: 8rem;
    margin: 0 auto;
}

.item-list h2 {
    font-weight: bold;
    margin: .5rem 0;
}