.app-navbar {
    width: 100vw;
    height: 4rem;
    /* background-color: #1989a6; */
    padding: 0 1.5rem;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    color: white;
}

.app-navbar  .app-navbar-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.5rem;
}

.app-nav ul{
    list-style: none;
    display: flex;
}

.app-nav ul li{
    height: 4rem;
    padding: 0 1.25rem;
    display: flex;
    align-items: center;
    user-select: none;
}

.app-nav ul li:hover {
    /* background-color: #2d93ad; */
    cursor: pointer;
}